<.flash_group flash={@flash} />
<div style="padding: 10px 10px">
  <h1 style="margin: 10px">Chat Bubbles</h1>
  <button phx-click="create_bubble" style="border:1px solid black">Create Bubble</button>
</div>
