
<div class="hero min-h-screen" style="background-image: url(/assets/images/background_bubbles.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <button phx-click="create_bubble"  class="btn btn-primary">Create Bubble</button>
    </div>
  </div>
</div>
