
<div class="flex">
    <div class="flex flex-auto" style="border: 1px solid blue">
    Chat here
    </div>
    <div class="flex w-1/4 " style="border:1px solid black">
    Useres Here
    </div>
</div>
